In [137]:
# Import libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
# Load data
talents = pd.read_csv('potential-talents - Aspiring human resources - seeking human resources.csv')
talents

,id,job_title,location,connection,fit
0,1,2019 C.T. Bauer College of Business Graduate (...,"Houston, Texas",85,NaN
1,2,Native English Teacher at EPIK (English Progra...,Kanada,500+,NaN
2,3,Aspiring Human Resources Professional,"Raleigh-Durham, North Carolina Area",44,NaN
3,4,People Development Coordinator at Ryan,"Denton, Texas",500+,NaN
4,5,Advisory Board Member at Celal Bayar University,"İzmir, Türkiye",500+,NaN
...,...,...,...,...,...
99,100,Aspiring Human Resources Manager | Graduating ...,"Cape Girardeau, Missouri",103,NaN
100,101,Human Resources Generalist at Loparex,"Raleigh-Durham, North Carolina Area",500+,NaN
101,102,Business Intelligence and Analytics at Travelers,Greater New York City Area,49,NaN
102,103,Always set them up for Success,Greater Los Angeles Area,500+,NaN
103,104,Director Of Administration at Excellence Logging,"Katy, Texas",500+,NaN

# Prepare data for finding similarity metrics

In [63]:
# Import libraries
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.feature_extraction.text import TfidfTransformer

## Vectorizing Columns for similarities

looks at text similarity <br>
1 - Bin connections <br>
2 - Sentence transformer, it will create a model <br>
3 - Fuzzy similarity. fuzzywuzzy. <br>
4-  Function that returns the similarity score <br>
5 - Two complexities: Text Embedding, converting &

Snippet

from sentence_transformers import SentenceTransformer, util

sent_model = SentenceTransformer('sentence-transformers/all-MiniLM-L6-v2')

from fuzzywuzzy import fuzz
def sentence_similarity(title, target_title, model):
        sentences = [title, target_title]

        

        #Compute embedding for both lists
        embedding_1= model.encode(sentences[0], convert_to_tensor=True)
        embedding_2 = model.encode(sentences[1], convert_to_tensor=True)

        similarity_score = util.pytorch_cos_sim(embedding_1, embedding_2)
        
        return similarity_score.numpy()[0][0]
        
https://www.sbert.net/

In [7]:
# Merge all columns in one of the dataframe
talents['text_for_vectorizing'] = talents.job_title+ " " +talents.location + " " + talents.connection
talents

,id,job_title,location,connection,fit,text_for_vectorizing
0,1,2019 C.T. Bauer College of Business Graduate (...,"Houston, Texas",85,NaN,2019 C.T. Bauer College of Business Graduate (...
1,2,Native English Teacher at EPIK (English Progra...,Kanada,500+,NaN,Native English Teacher at EPIK (English Progra...
2,3,Aspiring Human Resources Professional,"Raleigh-Durham, North Carolina Area",44,NaN,Aspiring Human Resources Professional Raleigh-...
3,4,People Development Coordinator at Ryan,"Denton, Texas",500+,NaN,"People Development Coordinator at Ryan Denton,..."
4,5,Advisory Board Member at Celal Bayar University,"İzmir, Türkiye",500+,NaN,Advisory Board Member at Celal Bayar Universit...
...,...,...,...,...,...,...
99,100,Aspiring Human Resources Manager | Graduating ...,"Cape Girardeau, Missouri",103,NaN,Aspiring Human Resources Manager | Graduating ...
100,101,Human Resources Generalist at Loparex,"Raleigh-Durham, North Carolina Area",500+,NaN,Human Resources Generalist at Loparex Raleigh-...
101,102,Business Intelligence and Analytics at Travelers,Greater New York City Area,49,NaN,Business Intelligence and Analytics at Travele...
102,103,Always set them up for Success,Greater Los Angeles Area,500+,NaN,Always set them up for Success Greater Los Ang...
103,104,Director Of Administration at Excellence Logging,"Katy, Texas",500+,NaN,Director Of Administration at Excellence Loggi...

In [8]:
# Will set up both count vectorizer and tfidf to compare afterwards metrics on both approaches
tfidf_vect = TfidfVectorizer(stop_words={'en'})
talents_tfidf_vect = tfidf_vect.fit_transform(talents.text_for_vectorizing)

In [9]:
#Save it in a dataframe
talents_tfidf_df= pd.DataFrame(talents_tfidf_vect.todense(),columns=tfidf_vect.get_feature_names())
talents_tfidf_df

,103,155,16,174,18,19,2019,2020,212,2621,...,western,westfield,with,within,woodlands,work,world,worth,york,zmir
0,0.000000,0.0,0.0,0.0,0.0,0.0,0.287908,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000
1,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000
2,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000
3,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000
4,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.353651
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99,0.262021,0.0,0.0,0.0,0.0,0.0,0.000000,0.262021,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000
100,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000
101,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.269716,0.000000
102,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000
103,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000

In [160]:
#With Countvectorizer
count_vect = CountVectorizer(stop_words={'en'})
talents_count_vect = count_vect.fit_transform(talents.text_for_vectorizing)
talents_count_df= pd.DataFrame(talents_count_vect.todense(),columns=count_vect.get_feature_names())
talents_count_df

,103,155,16,174,18,19,2019,2020,212,2621,...,western,westfield,with,within,woodlands,work,world,worth,york,zmir
0,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99,1,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
100,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
101,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
102,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
103,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

## Preprocessing data

## Vectorizing keywords

In [148]:
# Declare key words
key_words_1 = 'Aspiring human resources'
key_words_2 = 'seeking human resources'

In [150]:
# Vectorized keyworkds
key_count_vect = CountVectorizer(stop_words={'en'})
key_words_1_count_vect = key_count_vect.fit_transform(key_words_1.split())
key_words_1_count_df= pd.DataFrame(key_words_1_count_vect.todense(),columns=key_count_vect.get_feature_names())
key_words_1_count_df

   aspiring  human  resources
0         1      0          0
1         0      1          0
2         0      0          1

In [98]:
key_words_2_count_vect = tfidf_vect.transform(key_words_1.split())
key_words_2_count_df= pd.DataFrame(key_words_2_count_vect.todense(),columns=tfidf_vect.get_feature_names())
key_words_2_count_df

,103,155,16,174,18,19,2019,2020,212,2621,...,western,westfield,with,within,woodlands,work,world,worth,york,zmir
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

# Cosine Similarity

In [155]:
from sklearn.metrics.pairwise import cosine_similarity

In [114]:
# Create function for similarities
def compute_similarity(row):
    print(row.shape)
    return cosine_similarity(key_words_1_count_df.reshape((1,-1)),row.values.reshape(1,-1))

In [142]:
#Calculate similarities and store them in a new df for comparison afterwards
similarities_df =pd.DataFrame(cosine_similarity(talents_count_df)[0,:],columns=['Cosine_similarity_count_vect'])
similarities_df

     Cosine_similarity_count_vect
0                        1.000000
1                        0.000000
2                        0.306786
3                        0.085749
4                        0.000000
..                            ...
99                       0.242536
100                      0.146254
101                      0.140028
102                      0.000000
103                      0.161690

[104 rows x 1 columns]

In [146]:
key_words_1_count_df.shape

(3, 290)

In [124]:
talents_tfidf_df.shape

(104, 290)

In [140]:
pd.DataFrame(cosine_similarity(key_words_1_count_df,talents_tfidf_df.iloc[0,:].values.reshape(1,-1)))

          0
0  0.166763
1  0.122978
2  0.122978

In [141]:
key_words_1_count_df.shape

(3, 290)

In [139]:
# Using 
from numpy.linalg import norm
np.dot(key_words_1_count_df,talents_tfidf_df.T)/(norm(key_words_1_count_df)*norm(talents_tfidf_df.T))

array([[0.00944108, 0.        , 0.01324881, 0.        , 0.        ,
        0.01447855, 0.01326516, 0.        , 0.01326516, 0.        ,
        0.        , 0.        , 0.        , 0.00944108, 0.00944108,
        0.        , 0.01324881, 0.        , 0.00944108, 0.        ,
        0.01324881, 0.        , 0.        , 0.01447855, 0.01326516,
        0.        , 0.01217002, 0.        , 0.01217002, 0.        ,
        0.00944108, 0.        , 0.01324881, 0.        , 0.        ,
        0.01447855, 0.01326516, 0.        , 0.01326516, 0.        ,
        0.        , 0.        , 0.        , 0.00944108, 0.        ,
        0.01324881, 0.        , 0.        , 0.01447855, 0.01326516,
        0.        , 0.01326516, 0.        , 0.        , 0.        ,
        0.        , 0.00944108, 0.01324881, 0.        , 0.01447855,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.01029026, 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.0108127 , 0.01234896, 0.        , 0.        ,
        0.00606192, 0.        , 0.        , 0.0088862 , 0.        ,
        0.        , 0.00861855, 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.01272096, 0.        , 0.        , 0.00619112,
        0.        , 0.        , 0.        , 0.        ],
       [0.00696223, 0.        , 0.0097702 , 0.        , 0.        ,
        0.01067706, 0.00978226, 0.        , 0.00978226, 0.00919076,
        0.        , 0.        , 0.00769815, 0.00696223, 0.00696223,
        0.        , 0.0097702 , 0.        , 0.00696223, 0.        ,
        0.0097702 , 0.        , 0.        , 0.01067706, 0.00978226,
        0.        , 0.00897465, 0.00929403, 0.00897465, 0.00929403,
        0.00696223, 0.        , 0.0097702 , 0.        , 0.        ,
        0.01067706, 0.00978226, 0.        , 0.00978226, 0.00919076,
        0.        , 0.        , 0.00769815, 0.00696223, 0.        ,
        0.0097702 , 0.        , 0.        , 0.01067706, 0.00978226,
        0.        , 0.00978226, 0.00919076, 0.        , 0.        ,
        0.00769815, 0.00696223, 0.0097702 , 0.        , 0.01067706,
        0.        , 0.00919076, 0.        , 0.        , 0.00769815,
        0.00758845, 0.00796114, 0.00898224, 0.00608688, 0.00466406,
        0.00795503, 0.00797372, 0.01821323, 0.01025366, 0.00513859,
        0.0044703 , 0.00491903, 0.00835844, 0.00655304, 0.        ,
        0.00639891, 0.00635567, 0.        , 0.00597052, 0.        ,
        0.        , 0.        , 0.00880176, 0.00866338, 0.        ,
        0.        , 0.        , 0.        , 0.00587933, 0.        ,
        0.        , 0.00938094, 0.        , 0.00750512, 0.00913116,
        0.00894123, 0.        , 0.        , 0.        ],
       [0.00696223, 0.        , 0.0097702 , 0.        , 0.        ,
        0.01067706, 0.00978226, 0.        , 0.00978226, 0.00919076,
        0.        , 0.        , 0.00769815, 0.00696223, 0.00696223,
        0.        , 0.0097702 , 0.        , 0.00696223, 0.        ,
        0.0097702 , 0.        , 0.        , 0.01067706, 0.00978226,
        0.        , 0.00897465, 0.00929403, 0.00897465, 0.00929403,
        0.00696223, 0.        , 0.0097702 , 0.        , 0.        ,
        0.01067706, 0.00978226, 0.        , 0.00978226, 0.00919076,
        0.        , 0.        , 0.00769815, 0.00696223, 0.        ,
        0.0097702 , 0.        , 0.        , 0.01067706, 0.00978226,
        0.        , 0.00978226, 0.00919076, 0.        , 0.        ,
        0.00769815, 0.00696223, 0.0097702 , 0.        , 0.01067706,
        0.        , 0.00919076, 0.        , 0.        , 0.00769815,
        0.00758845, 0.00796114, 0.00898224, 0.00608688, 0.00466406,
        0.00795503, 0.00797372, 0.01821323, 0.01025366, 0.00513859,
        0.0044703 , 0.00491903, 0.00835844, 0.00655304, 0.        ,
        0.00639891, 0.00635567, 0.        , 0.00597052, 0.        ,
        0.        , 0.        , 0.00880176, 0.00866338, 0.        ,
        0.        , 0.        , 0.        , 0.00587933, 0.        ,
        0.        , 0.00938094, 0.        , 0.00750512, 0.00913116,
        0.00894123, 0.        , 0.        , 0.        ]])